html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;
}

#rnbo-root {
    margin: auto;
    max-width: 540px;
}
#rnbo-inports {
    display: none;
}
#rnbo-console {
    display: none;
}

#rnbo-presets {
    display: none;

}
#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;

    display: none;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
    display: none;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {


    flex-grow: 1;
}
#rnbo-parameter-checkboxes{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SMPA1{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
}

.checkbox-container {
    display: flex;
    justify-content: space-between; /* Mantiene las dos hileras alineadas una a la izquierda y otra a la derecha */
    gap: 20px; /* Ajusta el espacio entre las dos hileras */
}

.hilera {
    display: flex;
    flex-direction: column; /* Alinea los checkboxes en columna dentro de cada hilera */
    gap: 10px; /* Espacio entre los checkboxes para que no se pisen */
}

input[type="checkbox"] {
    transform: scale(5); /* Ajusta el tamaño */
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
}

.checkbox-container input{
    margin: 2rem;
}