:root{
    --size-button:min(8vw,10vh);
    --border-rad:15px;
}



html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(186, 89, 82);
    color: antiquewhite;
    margin: 0;

}
h1{
    color: #0000009d;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;
    font-size: min(2.5rem,7vw);
}

#rnbo-root {

}
#background {
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;

}

#rnbo-root {
    margin: auto;
}
#rnbo-inports {
    display: none;
}
#rnbo-console {
    display: none;
}

#rnbo-presets {
    display: none;

}
#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;

    display: none;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
    display: none;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {


    flex-grow: 1;
}
#rnbo-parameter-checkboxes{
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SMPA1{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
}

.checkbox-container {
    display: flex;
    justify-content: space-between; /* Mantiene las dos hileras alineadas una a la izquierda y otra a la derecha */
    gap: 20px; /* Ajusta el espacio entre las dos hileras */
}


.containerButtons{

    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
    /* border:double wheat 2px ; */
    padding: min(2vw,2vh);
    box-shadow: 10px 15px 25px 10px  #00000083;

    border-radius: var(--border-rad);
    
}
.checkbox-buttons{
    display: flex;
    flex-direction: column;
   
}
.checkbox-buttons h2{
    display: none;
}
/*input{
    position: relative;
    height: 0;
    width: 0;
    margin: calc(var(--size-button)/2 + 5px);
    -moz-appearance: initial;

}

input::before{
    position:absolute;
    content: "";
    width: var(--size-button);
    height: var(--size-button);
    background-color: crimson;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
    border-radius: var(--border-rad);
    box-shadow: 3px 4px 3px 0px  #00000051;
    transition: .2s;
}

input:checked::before{
    background-color: #9b95ed;
}

input:hover::after{
    position:absolute;
    content: "";
    width: var(--size-button);
    height: var(--size-button);
    background-color: rgba(255, 196, 133, 0.212);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
    border-radius: var(--border-rad);
}*/




