:root{
    --size-button:min(8vw,10vh);
    --border-rad:15px;
}



html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    margin: 0;

}
h1{
    color: #ffffff9d;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;
    font-size: min(2.5rem,7vw);
}
/* 
#rnbo-root {

} */
#background {
    position: absolute;
    z-index: -1;
}

h2, em {
    width: 100%;

}

#rnbo-root {
    margin: auto;
}
#rnbo-inports {
    display: none;
}
#rnbo-console {
    display: none;
}

#rnbo-presets {
    display: none;

}
#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;

    display: none;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-checkboxes{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SMPA1{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
    display: none;
}

.checkbox-container {
    display: flex;
    justify-content: space-between; /* Mantiene las dos hileras alineadas una a la izquierda y otra a la derecha */
    gap: 20px; /* Ajusta el espacio entre las dos hileras */
}


.containerButtons{
    max-width: fit-content;
    margin: auto;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
    padding: min(2vw,2vh);
    box-shadow: 10px 15px 25px 10px  #00000083;
    
    border-radius: var(--border-r   ad);
    
}
.checkbox-buttons{
    display: flex;
    flex-direction: column;
    
}
.checkbox-buttons h2{
    display: none;
}
.checkbox-buttons input{
    position: relative;
    height: 0;
    width: 0;
    margin: calc(var(--size-button)/2 + 5px);
    -moz-appearance: initial;
    
    
}

.checkbox-buttons input::before{
    position:absolute;
    content: "";
    width: var(--size-button);
    height: var(--size-button);
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
    border-radius: var(--border-rad);
    box-shadow: 3px 4px 3px 0px  #00000051;
    transition: .2s;
}

.checkbox-buttons input:checked::before{
    background-color: #ffffff;
}

.checkbox-buttons input:hover::after{
    position:absolute;
    content: "";
    width: var(--size-button);
    height: var(--size-button);
    background-color: rgba(230, 230, 230, 0.212);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor:pointer;
    border-radius: var(--border-rad);
}



.welcomeScreen h1{
    padding-top: 30vh;
    color: #dddddd;
}
.welcomeScreen{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    z-index: 10000;
}
.hide{
    display: none;
}
.welcomeScreen button{
    padding: 10px 15px;  
    border-radius: 25px;
    background-color: #a8a8a8;
    
    color: #ffffff;
    border: 0;
} 
/* 
#rnbo-parameter-sliders {
    gap: 10px;
    padding: 100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

     */


     /* Contenedor Efectos */
#rnbo-parameter-sliders{
    padding-top: 30px;
    position: sticky;
    bottom: 0;
    display: flex;
    margin-top: 40px;
    background-color: #222222;
   
}
#rnbo-parameter-sliders > button{
    
    position: relative;

    bottom: 20px;
    left: 50%;

    height: 20px;


}
/* #####fondo efecto ######*/
#rnbo-parameter-sliders > div {
    background-color: red;
    margin: 1em;
    padding: 1em;
}

/* 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
 */
/* SLIDERS STYLE ##################################################### */

#rnbo-parameter-sliders > div > input:first-of-type {
    
    writing-mode: vertical-lr;
    direction: rtl;


    z-index: 1000;
  -webkit-appearance: none;
  
  width: 25px;
  background: #000000;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
    
}

/* indicator */
#rnbo-parameter-sliders > div > input:first-of-type::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 85px;
    height: 25px;
    background: linear-gradient(0deg, black, #888888, #666666);
    cursor: pointer;
  }
  
#rnbo-parameter-sliders > div > input:first-of-type::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

/* ###################################################################################### */
#rnbo-parameter-sliders > h2{
    position: absolute;
    bottom: 220px !important;
    left: 0;

}

.down {
    padding-top: 0 !important;
    height: 0 ;
    
}

.down > div{
    padding-top: 0;
    display: none;
}

.up {
    padding-top: 30px;
    height: 250px ;

}

.up > div{
    display: flex;
}
.up > button{
    
    bottom: 50px !important;
} 
.down > button{
    
    bottom: 0px !important;
} 

.up > h2{
    display: block;
    
} 
.down > h2{
    
    display: none;
} 

